body {
    font-family: sans-serif;
} 

html, .fullscreen {
    display: flex;height: 100%; margin: 0;padding: 0;width: 100%; 
}  

.container {
    margin: auto;text-align: center;
} 

.title {
    font-size: 3rem;
}

.hidden {
    display: none;
}
  
label {
    margin-bottom: 10px;
    display: block;
}
